<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <context-param>
        <param-name>AbsolutePath</param-name>
        <param-value>/opt/tomcat/latest/webapps/GestorAnuncios</param-value>
    </context-param>
    <context-param>
        <param-name>sqlProperties</param-name>
        <param-value>/WEB-INF/sql.properties</param-value>
    </context-param>
    <context-param>
        <param-name>PaginaRedireccionErrorLogin</param-name>
        <param-value>http://www.uco.es</param-value>
    </context-param>
    <servlet>
        <servlet-name>createAdd</servlet-name>
        <servlet-class>mvc.control.createAddControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createAdd</servlet-name>
        <url-pattern>/createAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>homePage</servlet-name>
        <servlet-class>mvc.control.homePageServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/homePage</url-pattern>
    </servlet-mapping>
</web-app>