<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <context-param>
        <param-name>AbsolutePath</param-name>
        <param-value>/opt/tomcat/latest/webapps/GestorAnuncios</param-value>
    </context-param>
    <context-param>
        <param-name>sqlProperties</param-name>
        <param-value>/WEB-INF/sql.properties</param-value>
    </context-param>
    <context-param>
        <param-name>PaginaRedireccionErrorLogin</param-name>
        <param-value>http://www.uco.es</param-value>
    </context-param>
    <servlet>
        <servlet-name>createAdd</servlet-name>
        <servlet-class>mvc.control.createAddControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createAdd</servlet-name>
        <url-pattern>/createAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>homePage</servlet-name>
        <servlet-class>mvc.control.homePageServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/homePage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>mvc.control.loginControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>signUpController</servlet-name>
        <servlet-class>mvc.control.signUpControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUpController</servlet-name>
        <url-pattern>/signUpController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createAddLoad</servlet-name>
        <servlet-class>mvc.control.createAddLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createAddLoad</servlet-name>
        <url-pattern>/createAddLoad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showUserAddLoad</servlet-name>
        <servlet-class>mvc.control.showUserAddLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showUserAddLoad</servlet-name>
        <url-pattern>/showUserAddLoad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>modifyAddLoad</servlet-name>
        <servlet-class>mvc.control.modifyAddLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyAddLoad</servlet-name>
        <url-pattern>/modifyAddLoad</url-pattern>
    </servlet-mapping>


</web-app>
