/*General Styles*/
.hidden{
    display:none;
}
.show{
    display: block;
}


        	
 body
 {


        	
    background-image: url("https://www.freegreatpicture.com/files/146/13640-colorful-background-of-high-definition.jpg");

    background-size: 100%;


  }


 h1

{

 text-align: center;


  }
           


       